.bb {
    width: 200px;
    height: 800px;
    background-color: blueviolet;
}

.bb1 {
    width: 200px;
    height: 200px;
    background-color: brown;
}

.bb2 {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    border: 1px solid black;
}





/* .str1 {
    display: flex;
}

.str2 {
    display: flex;
}

.str3 {
    display: flex;
}

.bord {
    border: 3px solid black;
    width: 300px;
    height: auto;
    float: right;
}


.bl1 {
    width: 100px;
    height: 100px;
    background-color: black;
}

.bl0 {
    width: 100px;
    height: 100px;
    background-color: rgb(248, 246, 246);
} */